@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
* {
  box-sizing: border-box;
}

input[required] {
  display: block;
}

input[required]::after {
  content: '*';
  color: red;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: white;
    background: white;
  }
}

@layer components {
  .button-primary {
    @apply rounded bg-blue-500 py-2 px-4 text-white hover:bg-blue-700;
  }

  .button-text {
    @apply bg-transparent py-2 px-4 text-blue-700 hover:text-blue-900;
  }
  .checkbox {
    @apply h-4 w-4 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600;
  }
}
