@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.button-text:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.button-primary:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
  background-color: #d1d5db;
}
.button-primary[disabled]:hover {
  background: #d1d5db;
}
.button-primary[disabled]:active {
  outline: none;
}
* {
  box-sizing: border-box;
}

input[required] {
  display: block;
}

input[required]::after {
  content: '*';
  color: red;
}

@layer base {
  body {
    @apply bg-bg-white text-text-primary;
  }
}

@layer components {
  .button-primary {
    @apply m-2 inline-flex h-12 min-w-fit items-center justify-center gap-2.5 whitespace-nowrap rounded-md border-2 border-transparent
     bg-orange-500 px-6 py-3 text-white  hover:bg-orange-400;
  }
  .button-primary:focus {
    @apply bg-orange-500 px-6 py-3 outline outline-4 outline-slate-300;
  }
  .button-primary:active {
    @apply inline-flex h-12 items-center justify-center gap-2.5 rounded-md px-6 py-3 outline outline-4  outline-slate-300;
  }
  .button-text:disabled {
    @apply text-text-stroke hover:text-text-stroke;
  }
  .button-outline {
    @apply m-2 inline-flex h-12 min-w-fit items-center justify-center gap-2.5 rounded-md border-2 border-orange-500 bg-white  px-6 py-3 text-orange-500 hover:bg-orange-500 hover:text-white;
  }
  .button-outline:active {
    @apply rounded-md bg-orange-500 text-white outline outline-4  outline-slate-300;
  }
  .button-outline:focus {
    @apply px-6 py-3 outline outline-4  outline-slate-300;
  }
  .button-text {
    @apply bg-transparent py-2 px-4 text-blue-700 hover:text-blue-900 hover:underline;
  }
  .checkbox {
    @apply h-6 w-6 rounded border-gray-300 text-orange-500 focus:ring-2 focus:ring-orange-500;
  }
  .dropdown .ul {
    @apply bg-bg-white;
  }
}
